/* Universal Style */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    padding: 0px 20px;
}

/* Header Section */

/* Navbar Section */
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

/* Logo */

.logo a {
    display: flex;
    text-decoration: none;
    gap: 10px;
}

.logo h3 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.logo-g {
    color: #FF42A5;
}

/* Navbar */

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li:last-child {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    gap: 10px;
    padding: 5px 15px;
}

.navbar ul li:last-child img {
    width: 25px;
}

.navbar ul li a {
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #FF42A5;
    transition: color 0.3s;
}

/* Banner Section */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text h4 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text h3 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-text button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    padding: 20px 40px;
}

#banner-button-1{
    background-color: #F948B2;
}

#banner-button-2{
    background-color: #4EC5F7;
}
.banner-list{
    margin: 10px 0px 30px;
}

.banner-images{
    width: 50%;
}

.banner-images img{
    width: 100%;
}