@media screen and (max-width:576px) {

    /* Navigation */
    .nav-section {
        flex-direction: column;
        justify-content: space-around;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
    }

    .navbar ul li {
        margin: 0;
    }

    /* Banner Section */
    .banner-section {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .banner-images {
        width: 100%;
    }
    .banner-text{
        width: 100%;
    }
    .banner-text h4 {
        font-size: 27px;
        text-align: center;
    }

    .banner-text h3 {
        font-size: 40px;
        text-align: center;
    }

    .banner-list{
        width:200px;
        margin: 10px auto;
    }

    .banner-list p {
        font-size: 13px;
    }

    .banner-text button {
        font-size: 15px;
        padding: 10px 23px;
        text-align: center;
    }
    .banner-button{
        width: 250px;
        display: flex;
        justify-content: space-around;
        margin: 0px auto;
    }

    /* We Are Gamer Section */

    .we-r-gamer{
        flex-direction: column;
    }
    .we-r-gamer img {
        width: 100%;
    }

    .we-r-gamer-text{
        text-align: center;
    }
    .we-r-gamer-text h3{
        font-size: 30px;
    }
    .we-r-gamer-text p{
        font-size: 13px;
    }

    /* Overflow Section */
    .overflow-images {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .os-division1 {
        width: 70%;
    }

    .os-division1 #os-img-2 {
        bottom: 16vw;
    }
    .os-division2{
        width: 100%;
        text-align: center;
    }

    .os-division2 h3{
        font-size: 30px;
    }

    .os-division2 p{
        font-size: 15px;
    }

    .career-container {
        flex-direction: column;
        padding: 20px 0px;
    }

    .cs-text-part {
        width: 90%;
    }

    .cs-img-part{
        width: 90%;
    }

    .cs-text-part h3 {
        font-size: 35px;
    }
    
    .cs-text-part p {
        font-size: 13px;
    }

    /* Game Category */

    .games-category{
        gap: 10px;
        margin: 50px auto;
    }

    .game-category-box {
        gap: 5px;
        padding: 3px;
    }
    .game-category-box img {
        width: 25px;
    }
    .game-category-box h5 {
        font-size: 10px;
    }
}