@media screen and (min-width:576px) and (max-width:960px) {
    .nav-section {
        flex-direction: column;
        justify-content: space-around;
    }
    .navbar ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
    }
    .navbar ul li{
        margin: 0;
    }

    /* Banner Section */
    .banner-section {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .banner-images {
        width: 100%;
    }
    .banner-text{
        width: 100%;
    }
    .banner-text h4 {
        font-size: 50px;
        text-align: center;
    }

    .banner-text h3 {
        font-size: 70px;
        text-align: center;
    }

    .banner-list{
        width:300px;
        margin: 20px auto;
    }

    .banner-list p {
        font-size: 17px;
    }

    .banner-text button {
        font-size: 20px;
        padding: 15px 30px;
        text-align: center;
    }
    .banner-button{
        width: 350px;
        display: flex;
        justify-content: space-around;
        margin: 0px auto;
    }

    /* We are Gamer */
    .we-r-gamer{
        flex-direction: column;
    }
    .we-r-gamer img {
        width: 100%;
    }

    .we-r-gamer-text{
        text-align: center;
    }
    .we-r-gamer-text h3{
        font-size: 40px;
    }
    .we-r-gamer-text p{
        font-size: 20px;
    }

    /* overflow */

    .overflow-images {
        flex-direction: column;
    }

    .os-division1 {
        width: 70%;
    }

    .os-division1 #os-img-2 {
        bottom: 23vh;
    }
}